{-# LANGUAGE DataKinds     #-}
{-# LANGUAGE TypeOperators #-}

module ${moduleName}.API () where

import Data.Proxy
import Servant.API
import ${moduleName}.Types

thingAPI :: Proxy ShiftsAPI
thingAPI = Proxy

type ThingAPI =
       ListThings
  :<|> ShowThing

-- separate definitions of each route will go here
-- for example:
--   type ListThings = "things"
--     :> QueryParam "someBool" Bool
--     :> Get '[JSON] Thing
